body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}
/* Banner section  */
.banner{
    background-image: url("./banner/banner3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px 0px;
}
.banner-header{
    color: #FFF;
    text-align: right;
    font-size: 65px;
    font-weight: 700;
    padding: 216px 0px 0px 1045px;
    width: 525px;
}
.banner-para{
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 400;
    width: 494px;
    padding: 25px 0px 0px 1078px;
    padding-bottom: 32px;
}
.primary-btn{
    color: #005FAC;
    font-size: 20px;
    font-weight: 600;
    border: none;
    padding: 20px 25px;
    border-radius: 5px;
}
.btn{
    padding: 40px 0px 160px 1418px;
}
/* Failure section */
.failure-result{
    gap: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 140px;
}
.tick{
    width: 15px;
}
.failure-header{
    color: var(--dark-01, #151414);
    font-size: 40px;
    font-weight: 700;
    width: 288px;
    padding-bottom: 25px;
}
ul{
    list-style: none;
}
.failure-para{
    color: var(--dark-02, #444343);
    font-size: 16px;
    font-weight: 400;
    width: 416px;
    padding-bottom: 15px;
}
ul > li{
    padding-bottom: 8px;
}

/* My Plans Section */